
<script src="https://kit.fontawesome.com/8f2dde67d6.js" crossorigin="anonymous"></script>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="footer-items">
      <p>Created by Daniel Correa</p>
      <a class="author-link" href="https://github.com/danielcr0995"><i class="icon fab fa-github fa-2x"></i>Github</a>
      <a class="author-link" href="https://www.linkedin.com/in/daniel-correa-8a6263211/"> <i class="icon fab fa-linkedin fa-2x"></i>LinkedIn </a>  
    </div>     
  </div>
</div>
</body>
</html>