html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #335bb1 50%, #d3daf8 50%);
  min-height: 95%;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #335bb1;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #335bb1;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #335bb1;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #335bb1;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

body {
  width: 400px;
  margin: auto auto;
  background-color: #d3daf8;
}

/* FOOTER */

/* footer {
  padding: 7% 15%;
}

.icon {
  margin: 1.5%;
}

.author {
  color: black;
  margin: 7% 0 0;
}

.author-link {
  color: #000;
  text-decoration: none;
  margin: 0 1%;
}

.author-links {
  display: flex;
  justify-content: center;
  margin: 2% 0 0;
}

.author-link:hover {
  text-decoration: underline;
  color: #000;
} */
/* .footer-padding {
  padding-bottom: 60px;
} */

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  height: 80px;
  /* background-color: #546e9e; */
}

.footer p {
  margin-top: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(22, 22, 22);
}

.footer-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 0 9px;
  background-color: #d3daf8;
}

.author-link {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: rgb(22, 22, 22);
  text-decoration: none;
}
.author-link:hover {
  color: rgb(22, 22, 22);
  text-decoration: underline;
}

.icon {
  padding-right: 5px;
}
